[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-debug-toolbar = "*"
ipython = "*"
faker = "*"
django-extensions = "*"
markdown = "*"
django-filter = "*"
vobject = "*"

[dev-packages]

[requires]
python_version = "3.12"
